<ion-view title="" hide-back-button="false">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content has-header="true">

    <h3>$35</h3>

    <button class="button normalButton" ng-click="goToStylists()"><span class="buttonFont">Shovel me</span></button>

        <!-- <button data-tap-disabled="true" class="button button-full button-outline button-assertive" ng-click="test()">Plz Work</button> -->
  </ion-content>
</ion-view>

