<ion-view title="Pay" hide-back-button="false">
      <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-content has-header="true" has-tabs="true" padding="true">

    <h5 class="headerText">Add a tip and pay</h5>

    <input class="paddingBox" type="text" ng-model="tip.val" placeholder="Tip">


    <div class="row total">
        <div class="col col-30 col-top confirm title">
          <p>SUMMARY:</p>
        </div>

        <div class="col col-40 col-top confirm">
          <p>SUBTOTAL:</p>
          <p>TIP:</P>
          <p class="title total">TOTAL:</p>
        </div>

        <div class="col col-30 col-top confirm">
          <p>$ 35.00 </p>
          <p>$ {{tip.val || 0}}</p>
          <p class="title total">{{ total() | currency}} </p>
        </div>

    </div>
    <div style="text-align:center; margin-top:300px">
        <button class="button normalButton" ng-click="confirm()"><span class="buttonFont">Confirm</span></button>
    </div>
  </ion-content>
</ion-view>
