<ion-view title="Playlists">
  <ion-content class="has-header">

        <section class="loginWrapper w100">
            <div class="inner-content">

            <div class="row">
              <span class="privilege">Shovel</span>
            </div>

            <div class="login">
              <button class="button button-outline" ng-click="login('facebook')">Facebook</button>
              <button class="button button-outline" ng-click="login('google')">Google</button>
            </div>

          </div>

        </section>

  </ion-content>
</ion-view>

