<ion-view title="Pending Requests" hide-back-button="true">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-content has-header="true" has-tabs="true" padding="true">


    
    <h5 ng-show="jobs" class="headerText">Select a driveway to shovel</h5>
    
    <div ng-hide="jobs" class="headerText noJobs">
        <span>There are currently no jobs.  <p></p>We will notify and text you when a job becomes available.</span>
    </div>
    
    <!-- <ion-list>
        <ion-item  ng-repeat="appointment in appointments"> -->
          <div ng-show="jobs" ng-repeat="appointment in appointments" class="total">
              <div ng-click="checkRequest(appointment)">
                    <div class="row">
                        <div class="col col-40 col-top confirm title">
                          <p>ADDRESS:</p>
                        </div>

                        <div class="col col-50 col-top confirm">
                          <p>{{appointment.address.street}}<br>
                          {{appointment.address.city}}, {{appointment.address.state}}<br>
                          {{appointment.address.zip}}<br>
                        </div>

                        <div class="col col-10 col-center confirm">
                          <p class="ion-chevron-right"></p>
                        </div>
                    </div>
              </div>
          </div>




        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
