<ion-view title="Tell me more" hide-back-button="true">

    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    </ion-nav-bar>
  <ion-content has-header="true">

    <h3>Hi, {{username}} could we get a little more info?</h3>

    <form ng-submit="updateUser()">

        <div class="list">

            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="addData.email">
            </label>

            <label class="item item-input">
                <input type="tel" placeholder="Phone Number" ng-model="addData.phone">
            </label>

            <div class="item item-checkbox">
             <label class="checkbox">
               <input type="checkbox" ng-model= "addData.shovler">
             </label>
             I want to Shovel
            </div>

            <div>
            <button type="submit" class="button normalButton"><span class="buttonFont">Confirm</span></button>
        </div>

        </div>
      </form>
    

    <!-- collect bank account information -->    
    
    <div ng-show="addData.shovler">
      <form ng-submit="updateBank()">
          <div class="list">

            <label class="item item-input">
                <input type="number"  placeholder="Bank Account #" ng-model="bank.account">
            </label>

            <label class="item item-input">
                <input type="number" placeholder="Routing #" ng-model="bank.routing">
            </label>
            
          </div>
          
          <div>
              <button type="submit" class="button normalButton"><span class="buttonFont">Confirm</span></button>
          </div>
      
      </form>
    </div>

  </ion-content>
</ion-view>
