<ion-view title="Contact Info" hide-back-button="true">

    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    </ion-nav-bar>
  <ion-content has-header="true">

    <div class="headerText">
      <h5>Hi, {{username}} could we get a little more info?</h5>
    </div>

    <form ng-submit="updateUser()">

        <div class="list" style="padding: 30px;">

            <label class="item item-input">
                <span class="ion-email inputicons"></span>
                <input type="email" placeholder="Email" ng-model="addData.email">
            </label>

            <label class="item item-input">
                <span class="ion-ios7-telephone inputicons"></span>
                <input type="tel" placeholder="Phone Number" ng-model="addData.phone">
            </label>

            <div class="item item-checkbox borderless">
             <label class="checkbox">
               <input type="checkbox" ng-model= "addData.shovler">
             </label>
             <p>I want to Shovel</p>
            </div>

        <div style="text-align:center">
            <button type="submit" class="button normalButton" ><span class="buttonFont">Confirm</span></button>
        </div>
      </form>
    

    <!-- collect bank account information -->    
    
    <div ng-show="addData.shovler">
      <form ng-submit="updateBank()">
          <div class="list">

            <label class="item item-input">
                <input type="number"  placeholder="Bank Account #" ng-model="bank.account">
            </label>

            <label class="item item-input">
                <input type="number" placeholder="Routing #" ng-model="bank.routing">
            </label>
            
          </div>
          
          <div>
              <button type="submit" class="button normalButton"><span class="buttonFont">Confirm</span></button>
          </div>
      
      </form>
    </div>

  </ion-content>
</ion-view>
