<ion-view title="Location" hide-back-button="false">
<ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-content has-header="true">
    <form ng-submit="confirmAddress()">
        <div class="headerText">
            <h5 class="headerText">Where is your driveway?</h5>
        </div>
        <div class="list paddingBox">
            <label class="item item-input">
                <input placeholder="Street Address" type="text" ng-model="address.street">
            </label>

           <label class="item item-input">
                <input placeholder="City" type="text" ng-model="address.city">
            </label>

            <label class="item item-input">
                <input placeholder="State" type="text" ng-model="address.state">
            </label>

            <label class="item item-input">
                <input placeholder="Zip Code" type="text" ng-model="address.zip">
            </label>
        </ion-list>
        </div>

        <div class="padding" style="text-align:center">
            <button type="submit" class="button normalButton" style="margin-top:150px"><span class="buttonFont">Confirm</span></button>
        </div>
    </form>

    <span us-spinner spinner-key="spinner-1" spinner-start-active="true"></span>

  </ion-content>
</ion-view>