<ion-view title="Confirm Booking" hide-back-button="false">
      <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-content has-header="true" has-tabs="true" padding="true">

  <h5 class="headerText">Here are the details of your booking</h5>

	<div>
	    <div ng-click="goToAddress()">
            <div class="row total">
                <div class="col col-30 col-top confirm title">
        		      <p>ADDRESS:</p>
                </div>

                <div class="col col-60 col-top confirm addr">
          		    <p>
                      {{dataToConfirm.address.street}}<br>
          		      {{dataToConfirm.address.city}}, {{dataToConfirm.address.state}}<br>
        		      {{dataToConfirm.address.zip}}<br>
                </div>

                <div class="col col-10 col-center confirm">
                  <p class="ion-chevron-right"></p>
                </div>
            </div>
	    </div>
	</div>

	<div>
       <div ng-click="goToStripe()">
            <div class="row total">
                <div class="col col-30 col-top confirm title">
                  <p>PAYMENT:</p>
                </div>

                <!-- If we have cc info -->
                <div ng-show="doWeHaveCCInfo()" class="col col-60 col-top confirm addr">
                  <p>{{brand}}<br>
                  **** **** **** {{last}}<br>
                </div>

                <!-- if we don't have cc info -->
                <div ng-hide="doWeHaveCCInfo()" class="col col-60 col-top confirm addr">
                  <p>Click here to enter payment information<br>
                </div>

                <div class="col col-10 col-center confirm">
                  <p class="ion-chevron-right"></p>
                </div>
            </div>
      </div>
  </div>


  <div>
       <div ng-click="goToStripe()">
            <div class="row total">
                <div class="col col-30 col-top confirm title">
                  <p>SUMMARY:</p>
                </div>

                <div class="col col-40 col-top confirm">
                  <p>SUBTOTAL:</p>
                  <p>TAX:</p>
                  <p class="title total">TOTAL:</p>
                </div>

                <div class="col col-30 col-top confirm">
                  <p>$ 35.00 </p>
                  <p>$ 3.06 </p>
                  <p class="title total">$ 38.06 </p>
                </div>

            </div>
      </div>
  </div>


    <div style="text-align:center">
        <button class="button normalButton" ng-click="confirm()"style="margin-top:150px" ><span class="buttonFont">Confirm</span></button>
    </div>
  </ion-content>
</ion-view>
