<ion-view name="main.confirmBooking" title="Your Appointment" hide-back-button="false">

<ion-nav-bar class="bar-stable nav-title-slide-ios7">
    </ion-nav-bar>


  <ion-content has-header="true" has-tabs="true" padding="true">
    Amount: {{amount}}

	<div>
	    <button class="button button-full button-outline button-positive" ng-click="goToAddress()">
		    Address: 
		    <p>{{dataToConfirm.address.street}}
		    <p>{{dataToConfirm.address.city}}, {{dataToConfirm.address.state}}
		    <p>{{dataToConfirm.address.zip}}
	    </button>
	</div>

	<div>
		<button class="button button-full button-outline button-positive" ng-click="goToStripe()">
			Payment Information:
			Brand: {{$scope.brand}}
			Last 4: {{$scope.last}}		
		</button>
	</div>


	<div>
		
	</div>

    <button class="button normalButton" ng-click="confirm()"><span class="buttonFont">Confirm</span></button>
  </ion-content>
</ion-view>
