<ion-view title="Payment" hide-back-button="false">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-content has-header="true" has-tabs="true" padding="true">

	  <div class="headerText">
            <h5 class="headerText">Credit Card</h5>
        </div>
	<form stripe-form="handleStripe">
		<div class="list paddingBox">
            <label class="item item-input">
           	      <input placeholder="Card Number" type="text" size="20" ng-model="number" payments-validate="card" payments-type-model="type" payments-format="card"/>
            </label>

            <label class="item item-input">
                <input placeholder="cvc" type="text" size="4" ng-model="cvc" payments-validate="cvc" payments-format="cvc"/>
            </label>

           <label class="item item-input">
                <input placeholder="MM/YYYY" type="text" size="2" ng-model="expiry" payments-format="expiry" payments-validate="expiry" />
            </label>
        </ion-list>
        </div>

        <div class="padding" style="text-align:center">
            <button type="submit" class="button normalButton" style="margin-top:230px"><span class="buttonFont">Confirm</span></button>
        </div>
	  <span class="payment-errors"></span>
	</form>

  </ion-content>
</ion-view>

