<ion-view title="Payment" hide-back-button="false">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content has-header="true" has-tabs="true" padding="true">

	  <h2>Stripe</h2>

	<form stripe-form="handleStripe">
	  <span class="payment-errors"></span>

	  <div class="form-row">
	    <label>
	      <span>Card Number</span>
	      <input type="text" size="20" ng-model="number" payments-validate="card" payments-type-model="type" payments-format="card"/>
	    </label>
	  </div>

	  <div class="form-row">
	    <label>
	      <span>CVC</span>
	      <input type="text" size="4" ng-model="cvc" payments-validate="cvc" payments-format="cvc"/>
	    </label>
	  </div>

	  <div class="form-row">
	    <label>
	      <span>Expiration (MM/YYYY)</span>
	      <input type="text" size="2" ng-model="expiry" payments-format="expiry" payments-validate="expiry" />
	    </label>
	  </div>
	  <button type="submit" class="button button-full button-outline button-positive">confirm</button>
	</form>

  </ion-content>
</ion-view>

