<ion-view title="Payment" hide-back-button="false">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content has-header="true" has-tabs="true" padding="true">

	<form stripe-form="handleStripe">
	  <span class="payment-errors"></span>

	  <div class="list">
	    <label class="item item-input">
	      <input placeholder="Card Number" type="text" size="20" ng-model="number" payments-validate="card" payments-type-model="type" payments-format="card"/>
	    </label>
	  </div>

	  <div class="list">
	    <label class="item item-input">
	      <input placeholder="CVC" type="text" size="4" ng-model="cvc" payments-validate="cvc" payments-format="cvc"/>
	    </label>
	  </div>

	  <div class="list">
	    <label class="item item-input">
	      <input placeholder="Expiration (MM/YYYY)" type="text" size="2" ng-model="expiry" payments-format="expiry" payments-validate="expiry" />
	    </label>
	  </div>
	  <button type="submit" class="button normalButton"><span class="buttonFont">confirm</span></button>
	</form>

  </ion-content>
</ion-view>

